pipeline/pl_Value from AZ_SQL.json
{
	"name": "pl_Value from AZ_SQL",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(id) as MAX, min(id) as MIN from restable",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Getvalues",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MAX",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Max_var",
					"value": {
						"value": "@string(activity('Lookup1').output.firstRow.MAX)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MIN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Min_var",
					"value": {
						"value": "@string(activity('Lookup1').output.firstRow.MIN)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Max_var": {
				"type": "String"
			},
			"Min_var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}